@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Bilbo';
   src: url('./assets/fonts/BilboSwashCapsRegular.ttf');
}

@font-face {
   font-family: 'Caveat';
   src: url('./assets/fonts/Caveat.ttf');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Caveat';
   font-size: 16px;
}

::selection {
   background: #009ccb;
   color: #fff;
}
